@page
@model WEB_953502_CHIZHIK.Areas.Admin.Pages.IndexModel

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="mt-2">
    <a asp-page="Create" class="btn btn-outline-info">
        <span class="fa fa-plus"> Добавить</span>
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Group)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Book)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="~/@item.Image" alt="NoImage" width="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.BookGroupId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BookId" class="btn btn-outline-info">
                    <span class="fas fa-edit"></span>
                </a>
                <a asp-page="./Delete" asp-route-id="@item.BookId" class="btn btn-outline-danger">
                    <span class="fas fa-ban"></span>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
